body {
  font-family: 'Futura';
  font-size: 42px;
  font-weight: bolder;
  color: darkred;
}

div {
  box-sizing: border-box;
}

div.cell {
  background-color: darkgrey;
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}
div.board {
  background-color: lightgrey;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
div.row {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

